/* Common share styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* Nav releted styles  */

nav {
    display: flex;
    justify-content: space-between;
    padding: 80px 120px 0px 120px;
    align-items: center;
    color: #3A3A3A;

}

.nav-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;

}

nav ul {
    display: flex;
    gap: 34px;


}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
}

/* main camera  style  */
.left-content {
    width: 50%;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 80px 165px 0px 120px;
    align-items: center;

}

.journey-title {
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: 700;
}

.discription {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.btn {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    background: #E02C6D;
    gap: 15px;
    display: inline-flex;
}

.main-camera {
    background-image: url('/images/Circle\ design.svg');
    width: 475px;
    height: 480px;
}

/* company icons */
.logos-img {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 100px auto;
}


/* Main styles */
.card-all-container-title {
    text-align: center;
}

.card-full-card {
    display: flex;
    justify-content: center;
}

.card-all-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    /* margin: 0 auto; */
}

.card {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

}

.card-title {
    color: #18191F;
    font-size: 1.8rem;
    font-weight: 500;
}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
}

.discription {
    color: #787885;
    font-size: .9rem;
    font-weight: 700;
}

.card img {
    width: 100%;
}

.seemore {
    text-align: right;
    margin-right: 230px;
    margin-top: 50px;
}

/* last section styles */
.last-section {
    display: flex;
    width: 70%;
    margin: 100px auto;
}

.container-last {
    width: 50%;
}

.last-section .last-img {
    width: 50%;
}

.container-title {
    color: #0A0826;
    font-size: 2.5rem;
    font-weight: 700;
}

.discrip {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
}

.btn-last {
    background: #E02C6D;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
}

/* Footer styles */
footer {
    text-align: center;
    background: #0A0826;
    padding: 50px 589px;
}

.footer-title {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.copyright,
.all-right {
    color: #D9DBE1;
    font-size: 0.9rem;
    font-weight: 700;
}

.abc{
    margin-right: 20px;
}

/* Mobile device responsive */
@media screen and (max-width: 576px) {
    body {
        margin: 0 auto;
    }

    nav,
    nav ul,
    .logos-img,
    .card-full-card,
    .last-section {
        flex-direction: column;
    }

    .card-all-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .container {
        flex-direction: column-reverse;
    }

    footer ,
    nav,
    .left-content,
    .container
    {
        padding: 5px;
    }

    .container-last,
    .left-content {
        width: 100%;
    }
    nav li{
        display: none;
    }
    .journey-title,
    .discription{
        margin: 0px;
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {}