
/* Common share styles */

/* Nav releted styles  */
nav{
    display: flex;
    justify-content: space-between ;
    padding: 80px 120px 0px 120px;
    align-items: center;

}
nav ul{
    display: flex ;
    gap: 34px;
    
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
/* Main styles */
/* Footer styles */